Source: picodict
Section: core
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), libtool, automake, pkg-config, zlib1g-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), libtool, automake, pkg-config
XCS-Cross-Build-Depends: libz1-dev
Priority: optional
Standards-Version: 3.8.3

Package: libpicodict0
Architecture: any
Depends: ${shlibs:Depends}
Description: dict format support library
 PicoDict is .dict dictionary format reading library.
 .
 Main features:
  * small code size
  * small RAM size required to work
  * supports uncompressed and .dz compressed data files
  * exact match and prefix search supported

Package: libpicodict-dev
Architecture: any
Section: libdevel
Depends: libpicodict0 (= ${binary:Version})
Description: dict format support library -- development files
 PicoDict is .dict dictionary format reading library.
 .
 Main features:
  * small code size
  * small RAM size required to work
  * supports uncompressed and .dz compressed data files
  * exact match and prefix search supported
 .
 This package contains development files for picodict.

Package: libpicodict0-dbg
Architecture: any
Section: debug
Depends: libpicodict0 (= ${binary:Version})
Description: dict format support library -- debug symbols
 PicoDict is .dict dictionary format reading library.
 .
 Main features:
  * small code size
  * small RAM size required to work
  * supports uncompressed and .dz compressed data files
  * exact match and prefix search supported
 .
 This package contains debugging symbols for picodict.
